<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Traveling Salesman</title>
</head>

<body>
  <div id = "Title">"Welcome to a Genetic Algorithm solver for  the TSP!"</div>
  <div id = "input-wrapper">
    <label>Iterations:</label>
    <input type="text" id="iterations" value="1000">
  </div>
  <div id = "input-wrapper">
    <label>City Count:</label>
    <input type="text" id="city-count" value="20">
  </div>
  <div id = "input-wrapper">
    <label>Mutation Rate:</label>
    <input type="text" id="mutation-rate" value="0.1">
  </div>
  <div id = "input-wrapper">
    <label>Population Size:</label>
    <input type="text" id="population-size" value="50">
  </div>
  <div id = "input-wrapper">
    <label >k Value:</label>
    <input type="text" id="k-value" value="3">
  </div>
  <div id = "input-wrapper">
    <label>Seed:</label>
    <input type="text" id="seed" value="123456">
  </div>
  <div id = "button-wrapper">
    <button type="button" id="generate-button">Generate Route</button>
  </div>
  <div id = "img-wrapper">
     <img id = "graph-img" src="" alt="Graph" width="500" height="500">
  </div>
  <script type="module" src="/assets/script.js"></script>
</body>
